<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.dayu.mapper.TabProductInfoMapper">
    
    <resultMap type="TabProductInfo" id="TabProductInfoResult">
        <result property="id"    column="id"    />
        <result property="productName"    column="product_name"    />
        <result property="productNo"    column="product_no"    />
        <result property="price"    column="price"    />
        <result property="currency"    column="currency"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTabProductInfoVo">
        select id, product_name, product_no, price, currency, create_by, update_by, create_time, update_time from tab_product_info
    </sql>

    <select id="selectTabProductInfoList" parameterType="TabProductInfo" resultMap="TabProductInfoResult">
        <include refid="selectTabProductInfoVo"/>
        <where>  
            <if test="productName != null  and productName != ''"> and product_name like concat('%', #{productName}, '%')</if>
            <if test="productNo != null  and productNo != ''"> and product_no = #{productNo}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="currency != null  and currency != ''"> and currency = #{currency}</if>
        </where>
    </select>
    
    <select id="selectTabProductInfoById" parameterType="Long" resultMap="TabProductInfoResult">
        <include refid="selectTabProductInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTabProductInfo" parameterType="TabProductInfo" useGeneratedKeys="true" keyProperty="id">
        insert into tab_product_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productName != null">product_name,</if>
            <if test="productNo != null">product_no,</if>
            <if test="price != null">price,</if>
            <if test="currency != null">currency,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productName != null">#{productName},</if>
            <if test="productNo != null">#{productNo},</if>
            <if test="price != null">#{price},</if>
            <if test="currency != null">#{currency},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTabProductInfo" parameterType="TabProductInfo">
        update tab_product_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="productName != null">product_name = #{productName},</if>
            <if test="productNo != null">product_no = #{productNo},</if>
            <if test="price != null">price = #{price},</if>
            <if test="currency != null">currency = #{currency},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTabProductInfoById" parameterType="Long">
        delete from tab_product_info where id = #{id}
    </delete>

    <delete id="deleteTabProductInfoByIds" parameterType="String">
        delete from tab_product_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>